<div class="form-group">




</div>
<app-post-list [tableau]="list" ></app-post-list>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/spaceship.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Storing Data with Firebase </h5>
    <p class="card-text">En cliquant sur ce bouton , vous envoyez une feuille via Http contenant l'ensemble des post ..:) </p>
    <button class="btn btn-success " (click)="saveSheet()">lunch spaceshp  <fa-icon [icon]="icon"></fa-icon></button>
  </div>
</div>
